.home__index {
	background-color: #F7F7FA;
	.main-content {
		width: 100vw;
		padding: 0 10vw;
		.half-width {
			width: 49%;
		}
		.active-title {
			color: #345ab3;
			font-weight: bold;
		}
		.active-link {
			color: #345ab3;
		}
		.panel-main {
			// margin-bottom: 20px;
			background-color: #fff;
		}
		.panel-list {
			overflow: hidden;
			margin-top: 20px;
			background-color: #fff;
			a:hover {
				background-color: rgba(74,74,74,0.5);
			}
		}
		.panel-default {
			border-color: #fff;
		}
		.oh {
			overflow: hidden;
			background-color: #fff;
			border-color: #fff;
			border-left: 4px solid #4A90E2;
			.active-title {
				float: left;
			}
		}
		.oh-two {
			border-left: 4px solid #F5A623;
		}
		.panel-bg {
			height: 42px;
			width: 100%;
			padding-top: 10px;
      color: #fff;
			background: image-url("tab_header_one.png");
			background-size: 100% 100%;
			.title {
				width: 13vw;
				text-align: center;
			}
		}
		.panel-bg-two {
			height: 42px;
			width: 100%;
			padding-top: 10px;
      color: #fff;
			background: image-url("tab_header_two.png");
			background-size: 100% 100%;
			.title {
				width: 13vw;
				text-align: center;
			}
		}
		.bordered {
			border: solid 0px #d4d4d4;
			border-top: 0 none;
		}
		.panel {
      border-top: 0 none;
		}
		.fix-height img{
			height: 50px!important;
		}
		.title-bg {
			height: 36px;
			width: 176px;
			line-height: 36px;
			text-align: center;
			color: #fff;
		  position: absolute;
		  left: 50%;
		  z-index: 2333;
			background: image-url("title-bg.png") no-repeat 0 0;
			//培训项目
			&.pxtz {
		    margin-left: -470px;
		    //top: 385px;
		    top: 1165px;
			}
			//骨干教师项目
			&.ggjsbm {
				margin-left: -470px;
		    top: 775px;
			}
			//专业负责人项目
			&.zyfzrtz {
				margin-left: -470px;
		    //top: 1165px;
		    top: 385px;
			}
			//友情链接
			&.yqlj {
				left: 50%;
			  margin-left: -480px;
			  top: 1555px;
			}
		}
		ul {
			min-height: 72px;
      overflow: hidden;
		}
		ul.list li {
			height: 40px;
			line-height: 40px;
			border-bottom: dotted 1px #ccc;
			overflow: hidden;
			position: relative;
			&:before {
				content: image-url("li-squ.png");
				height: 24px;
				line-height: 24px;
        position: absolute;
        top: 6px;
        left: 0px;
			}
			a {
				color: #333;
				padding-left: 12px;
				text-decoration: none;
				&:hover {
					background-color: #dcdcdc;
				}
			}
		}
	}
}